<% content_for :page_title do %>
  404
<% end %>

<div class="abs-center wd-xl">
   <!-- START panel-->
   <div class="text-center mb-xl">
      <div class="text-lg mb-lg" style="font-size: 78px; margin-top: 200px;">404</div>
      <p class="lead m0" style="font-size: 36px; height: 40px; margin-top: 50px;">该页面未找到</p>
   </div>
</div>

