<% content_for :page_title do %>
  主页
<% end %>

<h1>Welcome to my world!</h1>

<div class="posts">
<ul>
  <% @posts.each do |p| %>
  <li><a href="/posts/<%= p.id %>"><%= p.title %></a></li>
  <% end %>
</ul>
</div>
