# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 779d3da6e087cd3543d5c9721833d27173c7c1287f7a972d1923c984320ba818d9668a73ad03c6f491a1a0748b638efd87c3ebc8b7e6202086ffd4d79bd26ba3

test:
  secret_key_base: 90efde9f4e2b817af6ca9abd3e21a875335710e1d2a99a13703bf5af962934fd9cc3a219bd52c9eb458663988fa97af0cf382f0204eddc208b7aea1f4772d2a1

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
